<h2>Contestants</h2>
<% @contestants.each do |contestant| %>
<%= contestant.name %>
  <div id="contestant-<%= contestant.id %>" ><% contestant.projects.each do |project|%>
    <%= project.name %>

    <% end %></div>
<% end %>
